[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
httpx = "*"
jinja2 = "*"
python-dotenv = "*"
mysql-connector-python = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
